# March madness

In [23]:
import pandas as pd

In [24]:
# PATHS
SAMPLE_SUBMISSION_PATH = 'data/SampleSubmission2023.csv'
REGULAR_SEASON_PATH_M  = 'data/MRegularSeasonDetailedResults.csv'
POSTSEASON_PATH = 'data/MNCAATourneyDetailedResults.csv'

What should the submission look like?

In [25]:
sample_submission = pd.read_csv(SAMPLE_SUBMISSION_PATH)

In [26]:
print(sample_submission.shape)
sample_submission.head(5)

(130683, 2)

               ID  Pred
0  2023_1101_1102   0.5
1  2023_1101_1103   0.5
2  2023_1101_1104   0.5
3  2023_1101_1105   0.5
4  2023_1101_1106   0.5

### EDA

In [27]:
def create_train_dataset(dataset_path):
    """ Given a year, create the historical input data """
    pass

In [28]:
# Extract past playoff data 
POSTSEASON_PATH_M = 'data/MNCAATourneyDetailedResults.csv'
POSTSEASON_PATH_W = 'data/WNCAATourneyDetailedResults.csv'

In [29]:
post_season_m = pd.read_csv(POSTSEASON_PATH_M)
post_season_w = pd.read_csv(POSTSEASON_PATH_W)

In [30]:
regular_season_m = pd.read_csv(REGULAR_SEASON_PATH_M)
# regular_season_w = pd.read_csv(REGULAR_SEASON_PATH_W)

In [35]:
regular_season_m.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [38]:
# Define Column types
# Date columns
date_colums = ['Season', 'DayNum']
id_columns = ['WTeamID', 'LTeamID']
location_columns = ['WLoc']
stat_columns_both_teams = [
    'Score', 		# Game score
    'FGM', 		# Field goals made
    'FGA', 		# Field goals attempted
    'FGM3', 		# 3pts made
    'FGA3', 		# 3pts attempted
    'FTM', 		# Free throws made
    'FTA', 		# Free throws attempted
    'OR',  		# Offensive rebounds 
    'DR', 		# Defensive rebounds
    'Ast', 		# Assists 
    'TO', 		# Turnovers
    'Stl', 		# Steals
    'Blk', 		# Blocks
    'PF' 		# Personal fouls
    ]
other_stat_columns = ['NumOT']

In [41]:
assert regular_season_m.columns.__len__() == \
    len(date_colums) +\
    len(id_columns) +\
    len(location_columns) +\
    2 * len(stat_columns_both_teams) +\
    len(other_stat_columns)

In [ ]:
df = df['FGM'] / df['FGA']

In [31]:
post_season_m.columns, post_season_w.columns

(Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'),
 Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
        'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
        'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
        'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
       dtype='object'))

In [32]:
post_season_m.head(5)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [33]:
post_season_m.groupby('Season')['TeamID'].value_counts()

Season  WTeamID
2003    1393       6
        1242       5
        1266       4
        1400       4
        1112       3
                  ..
2022    1397       1
        1400       1
        1411       1
        1458       1
        1460       1
Name: WTeamID, Length: 650, dtype: int64

In [34]:
yearly_data =

SyntaxError: invalid syntax (3854925262.py, line 1)